[submodule "theme/meghana"]
	path = theme/meghana
	url = https://github.com/bantam-brandon/meghna-hugo.git
[submodule "themes/meghna-hugo"]
	path = themes/meghna-hugo
	url = https://github.com/bantam-brandon/meghna-hugo.git
