{{ if .Site.Data.contact.enable }}

<section id="contact-us" class="contact-us section-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                
                <div class="title wow fadeIn" data-wow-duration="500ms">
                    <h2>{{ with .Site.Data.contact.heading }} {{ . }} {{ end }} <span class="color">{{ with .Site.Data.contact.headingSpan }} {{ . }} {{ end }}</span></h2>
                </div>
            </div>
            

            
            <div class="contact-info col-lg-6 wow fadeInUp" data-wow-duration="500ms">
                {{ with .Site.Data.contact.title }}<h3>{{ . }}</h3> {{ end }}
                {{ with .Site.Data.contact.content }} <p> {{ . }} </p> {{ end }}
                <div class="contact-details">
                    {{ range .Site.Data.contact.contactDetails }}
                    <div class="con-info clearfix">
                        <i class="{{ .icon }}"></i>
                        <a {{ printf "href=%q" .href | safeHTMLAttr }} >{{ .info }}</a>
                    </div>
                    {{ end }}
                </div>
            </div>

            
            <div class="col-lg-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                <div class="typeform-widget" data-url="https://brandonwinchester.typeform.com/to/sxPR6a" data-transparency="50" data-hide-headers=true data-hide-footer=true style="width: 100%; height: 500px;"></div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script> <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;"> powered by <a rel="noreferrer" href="https://admin.typeform.com/signup?utm_campaign=sxPR6a&utm_source=typeform.com-13831906-Basic&utm_medium=typeform&utm_content=typeform-embedded-poweredbytypeform&utm_term=EN" style="color: #999" target="_blank">Typeform</a> </div>
            </div>

    
    <div class="google-map">
        <div id="map-canvas" {{ with .Site.Data.contact.mapLatitude }} data-latitude="{{ . }}" {{ end }}
        {{ with .Site.Data.contact.mapLongitude }} data-longitude="{{ . }}" {{ end }}></div>
    </div>

</section>

{{ end }}