
<footer id="footer" class="bg-dark">
	<section>	
		<div class="container">
				<div class="title">
						<h2> Our <span class="color">Partners</span></h2>
				</div>
				<div class="row wow fadeInUp" data-wow-duration="500ms">
						{{ range .Site.Params.footer.partners }}
						<img class="partner" style="margin-right: 40px;margin-bottom:20px;" src="{{ .src | relURL }}" alt=".alttext">
						{{end}}
				</div>
		</div>
	</section>
	<div class="container">
		<div class="row wow fadeInUp" data-wow-duration="500ms">
			<div class="col-xl-12">

				
				<div class="social-icon">
					<ul class="list-inline">
						{{ range .Site.Params.footer.socialIcon }}
						<li class="list-inline-item"><a href="{{ .url }}"><i class="{{ .icon }}"></i></a></li>
						{{ end }}
					</ul>
				</div>

				
				<div class="copyright text-center">
					<a href="{{ .Site.BaseURL | relURL }}">
							<span class="light-logo">{{partial "bantamlogo.html" . }}</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>

		<script type="text/javascript" src="plugins/basicScroll/basicScroll.min.js" ></script>
		
		<script type="text/javascript" src="plugins/jquery/dist/jquery.min.js" ></script>

		<script type="text/javascript" src="plugins/bootstrap/dist/js/bootstrap.bundle.min.js" ></script>

		<script type="text/javascript" src="plugins/slick-carousel/slick/slick.min.js" ></script>

		<script type="text/javascript" src="plugins/filterzr/jquery.filterizr.min.js" ></script>

		<script type="text/javascript" src="plugins/magnific-popup/dist/jquery.magnific-popup.min.js" ></script>

		<script type="text/javascript" src="plugins/count-to/jquery.countTo.js" ></script>

		<script type="text/javascript" src="plugins/wow/dist/wow.min.js" ></script>

		<script type="text/javascript" src="plugins/AOS/aos.min.js" ></script>

		{{ $scroll := resources.Get "js/scroll-behavior-polyfill.js" | minify}}
		<script src="{{ $scroll.RelPermalink }}"></script>

		<script type="text/javascript" src="plugins/sweet-alert/sweetalert.min.js" ></script>
	
		{{ $script := resources.Get "js/script.js" | minify}}
		<script src="{{ $script.RelPermalink }}"></script>

	

    </body>
</html>