{{ if .Site.Data.career.enable}}

<section class="portfolio section bg-dark" id="career">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                
                <div class="title">
                    <h2> {{ with .Site.Data.career.heading }} {{ . }} {{ end }} <span class="color">{{ with .Site.Data.career.headingSpan }} {{ . }} {{ end }}</span></h2>
                    
                </div>
                
            </div>
        </div>
        <div class="row filtr-container row-eq-height">
            
            {{ range .Site.Data.career.careerItem }}
            <div class="col-lg-4 filtr-item" data-category="{{ .types }}">
                <div class="career-block mb-4">
                    <div class="career-item" > 
                            <i class="fa-4x {{ .icon }}"></i>
                    </div>
                    <div class="caption">
                        <a class="career-icon image-popup" data-effect="mfp-with-zoom" href="{{ .image | relURL}}" data-lightbox="image-1">
                            <i class="{{ .icon }}"></i>
                        </a>
                        <h4><a href="{{ .URL | relURL }}">{{ .title }}</a></h4>
                        <p>{{ .description }}</p>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>

{{ end }}